<div  class="card-body">
  <%= form_with(model: employee, local: true) do |form| %>
    <%= form_group_for form, :name  do %>
      <%= form.text_field :name, autofocus: true, class: "form-control" %>
    <% end %>

    <%= form_group_for form, :email  do %>
      <%= form.email_field :email, class: "form-control" %>
    <% end %>

    <%= form_group_for form, :phone  do %>
      <%= form.text_field :phone, class: "form-control" %>
    <% end %>

    <%= form_group_for form, :company_id  do %>
      <%= form.collection_select :company_id, Company.all, :id, :name, {prompt: "Select Company"}, { class: 'form-control' } %>
    <% end %>

    <div class="actions mt-2">
      <%= form.submit class:'btn btn-primary' %>
      <%= link_to "Back", companies_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
