<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: 'nav-link active' %>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Import Data", settings_new_bulk_import_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Companies", companies_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Employees", employees_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Policies", policies_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>
