<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mt-5">
        <div class="card-header">
          <h2>Import Data</h2>
        </div>
        <div  class="card-body">
          <%= form_tag settings_create_bulk_import_path, method: :post, multipart: true do %>
            <div class="form-group">
              <label for="company_id">Company</label>
              <%= select_tag :company_id, options_for_select(Company.all.collect{ |u| [u.name, u.id] }), required: true, prompt: "Select Company", class: 'form-control' %>
            </div>

            <div class="form-group">
              <label for="csv_file">CSV File</label>
              <%= file_field_tag :csv_file, required: true, class: 'form-control' %>
            </div>

            <div class="actions mt-2">
              <%= submit_tag "Import Data", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
